.navbar{
    min-height:10vh;
}

.logo-container {
    position: relative;
    width: 125px;
    height: 100%;
}

.logo-link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    width: 100%;
    height: inherit;
    max-width: 300px;
}

.carousel img {
    width: 100vw;
    object-fit: cover;
    height: 80vh;
}

.desktop-img {
    display: block;
}

.mobile-img {
    display: none;
}

.carousel-item h5 {
    font-size: xx-large;
}

.carousel-item p {
    font-size: large;
}

.footer {
    height: 10vh;
}

.social-link {
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

.social-link:hover {
    color: blueviolet;
}

.map-container {
    margin-top: 15px;
}

.contact-text {
    font-weight: bold;
    font-size: medium;
}

.contact-icon {
    margin-right: 15px;
    font-size: 1.2em;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
}

.fa-map-marker {
    color: red;
}

.contact-link {
    text-decoration: none;
    color: #c9bc1f;
}

.contact-link:hover {
    color: #ffee58;
}

@media (min-width: 576px) {
    .logo-container {
        width: 200px;
    }

    .navbar-container {
        margin-right: 10vh;
    }
}

@media (max-width: 1000px) {
    .desktop-img {
        display: none !important;
    }
    .mobile-img {
        display: block;
    }
}
